/* ------------------------------------
    Products Page
 ------------------------------------*/


.cat-nav
    @extend %nav

    border-bottom: 1px solid $color-alto
    display: relative
    margin-bottom: $spacing * 2
    text-transform: uppercase

    .wrap
        overflow-y: hidden
        overflow-x: auto

    &:before, &:after
        background: #000
        content: ''
        display: block
        height: 100%
        position: absolute
        top: -2px
        width: 80px
    
    &:before
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #fff 100%)
        left: 0


    &:after
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%)
        right: 0


    ul
        height: $header-height
        line-height: $header-height
        width: 1000px
        /*padding: $spacing 0*/

        @include mq($break-medium)
            width: auto

        li
            margin: 0 $spacing


.pages-nav
    @extend %nav

    margin-bottom: $spacing * 2
    text-align: center

    a
        display: block
        height: 50px
        line-height: 50px
        position: relative
        text-align: center
        width: 50px

        &:before
            border-radius: 50%
            border: 1px solid $color-alto
            content: ''
            display: block
            height: 50px
            position: absolute
            width: 50px