/* ------------------------------------
    Footer
 ------------------------------------*/

.site-footer
    background: #2F2F2F
    color: #fff
    padding: ($spacing * 2)
    text-align: center
    font-size: 1.8rem
    
    @include mq($break-medium)
        text-align: left
        font-size: 1.6rem
        padding: ($spacing * 4)

    h4
        color: #fff

    a
        color: #e0e0e0
        text-decoration: none

        &:hover
            color: #fff


.site-info
    font-size: 1.4rem
    
    @include mq($break-medium)
        font-size: 1.2rem
        @include span(4)


.footer-widgets
    margin-bottom: ($spacing * 4)

    @include mq($break-medium)
        margin: 0
        @include last


.footer__widget
    margin-bottom: ($spacing * 2)
    
    @include mq($break-medium)
        display: inline-block
        float: left
        margin-left: gutter()

    h4
        font-size: 1.8rem
        margin: 0 0 $spacing

    &.links
        @include mq($break-medium)
            li
                display: inline-block
                margin-right: $spacing