/* ------------------------------------
    Header
 ------------------------------------*/

$main-text: #fff

$header-bg: darken($color-mine-shaft, 5)

$header-height: 5rem
$header-height-desktop: 7rem


body
    padding-top: $header-height

    @include mq($break-medium)
        padding-top: $header-height-desktop


.site-header 
    background: rgba($header-bg, .97)
    font-family: $heading-family
    height: $header-height
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    z-index: $header-zindex

    @include mq($break-medium) 
        height: $header-height-desktop

    a
        color: #fff
        text-decoration: none


#logo,
#nav-cart-trigger
    display: inline-block
    line-height: $header-height

    @include mq($break-medium)
        line-height: $header-height-desktop

/** Logo **/ 
#logo
    color: $main-text
    transform: scale(0.8)
    line-height: $header-height

    @include mq($break-medium)
        display: inline-block
        float: left
        line-height: $header-height-desktop
        width: 100px
        transform: scale(1)

/** Navigation Menu Trigger Buttons **/
#hamburger-menu,
#nav-cart-trigger
    height: 100%
    position: absolute
    top: 0

    @include mq($break-medium)
        position: static

/** Cart Menu Icon Trigger **/
#nav-cart-trigger
    background: url('../images/cart.svg') no-repeat center center
    right: 0
    width: 50px

    @include mq($break-medium)
        position: absolute
        right: $spacing


/** Hamburger Menu **/
#hamburger-menu
    color: transparent // Hide Text
    left: $spacing
    overflow: hidden
    white-space: nowrap
    width: 35px

    @media screen and (min-width: $break-medium)
        display: none

    span
        background-color: #fff
        height: 1px
        left: 0
        position: absolute
        top: 50%
        transition: background-color 0.15s
        width: 100%

        &:before, 
        &:after
            background-color: #fff
            content: ''
            height: 100%
            left: 0
            position: absolute
            width: 100%
            
            // Force Hardware Acceleration
            transform: translateZ(0)
            backface-visibility: hidden
            
            transition: transform 0.2s

        &:before
            transform: translateY(-10px)

        &:after
            transform: translateY(10px)

    &.open span
        background-color: $header-bg // for browsers that don't support rgba
        background-color: rgba(255, 255, 255, 0)

        &:before
            transform: translateY(0) rotate(-45deg)

        &:after
            transform: translateY(0) rotate(45deg)
