/* ------------------------------------
    Header
 ------------------------------------*/

$main-text: #31353d // main text
$light-text: #a5aebc
$shadow-layer-bg: rgba(#435779, .6)

$header-bg: #fff
$header-link: #435779

$header-height: 5rem
$header-height-desktop: 7rem

@mixin center($xy:xy) 
    @if $xy == xy 
        left: 50%
        top: 50%
        bottom: auto
        right: auto
        @include transform(translateX(-50%) translateY(-50%))

    @else if $xy == x 
        left: 50%
        right: auto
        transform: translateY(-50%)

    @else if $xy == y 
        top: 50%
        bottom: auto
        transform: translateY(-50%)


.img-replace
    display: inline-block
    overflow: hidden
    text-indent: 100%
    white-space: nowrap


header 
    background: rgba($header-bg, .97)
    box-shadow: 0 1px 0 rgba(#000, .1)
    height: $header-height
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%
    font-family: $heading-family
    z-index: $header-zindex

    @include mq($break-medium) 
        height: $header-height-desktop

    a
        text-decoration: none

#hamburger-menu, 
#cart-trigger 
    height: 100%
    position: absolute
    top: 0

    @include mq($break-medium) 
        position: static

    a 
        height: 100%
        width: 60px


// Hamburger Menu Trigger Icon
#hamburger-menu 
    left: 0

    @include mq($break-medium) 
        display: none

    a 
        background: darken($header-bg, 5%) url('../images/hamburger-menu.svg') no-repeat center center


#main-nav, 
#cart 
    -webkit-overflow-scrolling: touch
    box-shadow: 0 0 15px rgba(#000, .2)
    height: 100%
    overflow-y: auto
    padding-top: 50px  // Header height
    position: fixed
    top: 0
    width: 220px
    z-index: $sidebar-zindex

    @include mq($break-small) 
        width: 300px
    
    @include mq($break-medium) 
        width: 30%
        padding-top: 80px  // Header height has changed
    

/* ------------------------------------
    Navigation
 ------------------------------------*/
#main-nav 
    background: #FFF
    left: -100%
    transition: left 0.3s
    text-transform: uppercase
    font-family: $heading-family

    @include mq($break-medium)
        background: transparent
        box-shadow: none
        height: auto
        padding-top: 0
        position: static
        float: left
        top: 0
        width: auto
        line-height: $header-height-desktop  // header height
        z-index: $header-zindex

    &.speed-in 
        left: 0

    .no-js & 
        position: fixed
    
    ul 
        li
            @include mq($break-medium)
                display: inline-block
                margin-left: 1em

                /*&.current 
                    background: $header-link
                    box-shadow: none
                    color: #FFF*/
                
                .no-touch &:hover 
                    background: $header-link
                    color: #FFF

        a 
            border-bottom: 1px solid $light-grey
            display: block
            height: 60px
            line-height: 60px
            padding: 0 1em
            text-decoration: none
            color: $dark

            @include mq($break-medium)
                //@include border-radius
                border-bottom: none
                color: $dark
                display: inline-block
                height: auto
                line-height: 1
                padding: 1em 1.4em

                &:after
                    content: ''
                    display: block
                    background: $primary
                    height: 1px
                    width: 0
                    transition: .3s
                    margin: ($spacing / 2) auto

                &:hover:after
                    width: ($spacing * 2)

        // Current page
        .current 
            box-shadow: inset 4px 0 $primary

            @include mq($break-medium)
                box-shadow: none
    


/* ------------------------------------
    Slide-Out Cart
 ------------------------------------*/

// Cart Menu Trigger Icon
#cart-trigger 
    right: 0

    @include mq($break-medium)
        float: right
        height: $header-height-desktop
        display: inline-block

    a 
        background: darken($header-bg, 5%) url('../images/cart.svg') no-repeat center center

        @include mq($break-medium)
            background-color: darken($header-bg, 5%)
            border-left: none
            //position: relative
            width: 100px

#cart 
    background: #FFF
    right: -100%
    transition: right 0.3s

    &.speed-in 
        right: 0

    h2 
        font-size: 1.4rem
        font-weight: bold
        margin: 1em 0
        text-transform: uppercase
        padding: 0em 2em


    .cart-items 
        padding: 0

        li 
            border-top: 1px solid $light-grey
            padding: 1em
            position: relative

            @include mq($break-medium)
                padding: 1em 2em 


            &:last-child 
                border-bottom: 1px solid $light-grey

    .qty, 
    .price 
        color: $light-text
    
    .price 
        margin-top: .4em
    
    .item-remove 
        @include center(y) // see mixin inside partials > _mixins.scss
        background: url('../images/remove-item.svg') no-repeat center center
        border-radius: 50%
        height: 32px
        position: absolute
        right: 1em
        width: 32px

        @include mq($break-medium)
            right: 2em

        .no-touch &:hover 
            background-color: $light-grey

    .cart-total 
        padding-bottom: 1em
        padding-top: 1em
        padding: 2em 1em

        @include mq($break-medium)
            padding: 0 2em

        span 
            float: right

        &:after  /* clearfix */
            content: ''
            display: table
            clear: both
    
    .checkout-btn
        display: inline-block
        margin: 0 auto
        width: 100%

    .go-to-cart 
        text-align: center
        margin: 1em 0

        a 
            text-decoration: underline


#logo
    transform: scale(0.8)
    line-height: $header-height

    @include mq($break-medium)
        display: inline-block
        float: left
        line-height: $header-height-desktop
        width: 100px

//#logo 
    //padding-top: 5px
    transform: scale(0.8)

    @include mq($break-small) 
        //padding-top: 20px
        position: absolute
        left: 2.4em // logo left margin on Dekstop
        top: 0
        transform: scale(1)
        line-height: $header-height-desktop*/
