/* ------------------------------------
    Sections
 ------------------------------------*/
 
.section

    &__title
        text-align: center
        font-size: 2rem
        margin-bottom: $spacing


.news-letter
    padding: $spacing * 4
    background: $color-mine-shaft

    .section__title
        color: #fff

    &__container
        margin: 0 auto
        max-width: 800px

    input
        margin: 0

    @include mq($break-medium)
        .btn
            top: 2px
            height: 5.1rem
            left: -5px
            width: span(4)

        input[type='text']
            width: span(8)