// Logo
.logo
    font-family: $font-family
    font-size: 3.3rem
    line-height: 1


// Prices
.price
    &--crossed
        color: $color-grey
        text-decoration: line-through

    &--sale
        color: $color-apple-blossom
