// Logo
.logo
    font-family: $font-family
    font-size: 3.3rem
    line-height: 1


// Use image in place of text
.img-replace
    display: inline-block
    overflow: hidden
    text-indent: 100%
    white-space: nowrap


// Prices
.price
    &--crossed, del
        color: $color-grey
        text-decoration: line-through

    &--sale, ins
        //color: $color-apple-blossom
        text-decoration: none



.shop-for
    background:
        position: center
        repeat: no-repeat
        size: auto 100%
        size: cover
    padding: $spacing
    height: 300px
    margin-bottom: $spacing * 2

    @include mq($break-medium)
        width: 49%
        height: 500px
        display: inline-block

    &--men
        background-position: left
        background-image: url('../images/examples/shop--men.jpg')

    &--women
        background-image: url('../images/examples/shop--women.jpg')