// Heart
.heart
    display: inline-block
    height: 1.2rem
    margin: 0 2px
    position: relative
    width: 15px

    &:before
        color: #DC0D0D
        content: "\f004"
        font-family: "FontAwesome"
        left: 0
        position: absolute
        top: -2px