/* ------------------------------------
    Checkout Page
 ------------------------------------*/

.cart
    &__empty
        text-align: center
        margin: ($spacing * 5) 0

        h1
            font-size: 5rem
            margin-bottom: $spacing

    &__heading
        border-bottom: 1px solid $color-alto
        padding-bottom: $spacing
        margin: 0 0 ($spacing * 2)

    &__bag
        @include mq($break-medium)
            @include span(7.5)
            margin-bottom: $spacing * 4

    // Cart items
    &__items
        border-bottom: 1px solid $color-alto
        margin-bottom: $spacing * 2

    &__item
        margin-bottom: $spacing * 2
        @extend %clearfix

        &-thumb
            @include span(2)

        &-details
            @include span(8)
            color: $color-grey

            span
                margin-right: $spacing

            h3
                margin: 0
                margin-bottom: $spacing / 2

                a
                    color: $color-mine-shaft

            a
                text-decoration: none

        &-pricing
            @include span(2 last)
            font-size: 2.4rem

        &-remove
            color: $color-grey
            font-style: italic
            border-bottom: 1px solid $color-grey

            &:hover
                color: $color-apple-blossom
                border-color: $color-apple-blossom

        .remove-button
            display: inline-block

            form
                display: block

            button
                background: none
                border: 0
                padding: 0
                display: inline-block
                color: $color-grey
                font-style: italic
                font-family: $font-family
                font-size: 1.6rem
                border-bottom: 1px solid $color-grey

                &:hover
                    cursor: pointer
                    color: $color-apple-blossom
                    border-color: $color-apple-blossom

    &__options
        margin-bottom: $spacing * 3
        @extend %clearfix

        @include mq($break-medium)
            .code
                width: 60%
            .apply
                width: 39%

            select
                min-width: 100%

            form:nth-child(3)
                float: right

    &__summary
        @include mq($break-medium)
            border-left: 1px solid $color-alto
            padding-left: $spacing * 2
            @include span(4.5 last)

        &-details
            padding: 0 ($spacing * 4)
            margin: 0 auto
            border-bottom: 1px dashed $color-alto
            padding-bottom: $spacing * 2
            margin-bottom: $spacing * 2

            li
                margin-bottom: $spacing / 2
                position: relative
                display: block
                overflow: hidden

                &:after
                    content: ' '
                    min-width: 100%
                    height: 1px
                    top: 12px
                    display: block
                    position: absolute
                    border-bottom: 1px dashed $color-alto
                    z-index: -10

            .of,
            .cost
                background: #fff

            .of
                font-style: italic
                float: left
                padding-right: 10px

            .cost
                float: right
                padding-left: 10px

        .cart__subtotal
            text-align: center

        .subtotal
            &__title
                font-size: 2.2rem
                font-style: italic
            &__cost
                font-size: 4rem
                margin-bottom: $spacing


        .btn
            min-width: 100%
