/* ------------------------------------
     Product
 ------------------------------------*/


.current-thumbnail
    opacity: .3

.product
    @include nested(12)
    @extend %clearfix

    //
    // Product preview
    //
    &__preview
        @include span(12)

        @include mq($break-medium)
            @include span(6.5)

    // Product image slider
    &__slider
        margin-bottom: $spacing

        @include mq($break-medium)
            @include span(9.5 last)

    // Product thumbnails
    &__thumbnails
        @extend %clearfix
        
        @include mq($break-medium)
            @include span(2.5)
        
        .slick-current
            opacity: .5

    &__thumbnail
        height: 125px

        @include mq($break-medium)
            height: 125px
            width: 100%
            margin-bottom: $spacing



    // Details
    &__details
        @include mq($break-medium)
            @include span(5 last)

    &__price
        font-size: 3.6rem

    &__options
        margin: ($spacing * 2) 0

        .btn
            width: 100%

    &__select

        .select
            margin: 0
            width: 100%

        @include mq($break-medium)
            &-size
                @include span(8)

            &-qty
                @include span(4 last)

    &__info
        border-top: 1px solid $color-alto
        padding: ($spacing * 3) 0

        h3
            font-size: 1.8rem
            margin: 0


/* ------------------------------------
    Product Items
 ------------------------------------*/
.product__list
    @include nested(12)

.product-item
    margin-bottom: gutter()
    text-align: center
    
    // For small screens
    @include mq($break-small, $break-medium)
        @include span(6)

        &:nth-child(2n)
            @include last
        
    // For larger screens
    @include mq($break-medium)
        @include span(4)
        
        &:nth-child(3n)
            @include last
                
    &__preview
        overflow: hidden
        position: relative
        
        img
            transition: .3s
            
            &:hover
                opacity: .8
            
    .quick-view
        background: #fff
        bottom: -100%
        color: $color-mine-shaft
        display: block
        padding: $spacing
        position: absolute
        transition: .3s
        width: 100%
        
    &:hover
        .quick-view
            bottom: 0

    &__desc
        margin-top: $spacing
        font-size: 1.8rem

    &__title
        font-size: 1.8rem
        margin: 0 0 ($spacing / 2)

        a
            color: $color-mine-shaft
            text-decoration: none
        
        &:after
            background: $color-mine-shaft
            content: ''
            display: block
            height: 1px
            margin: 3px auto
            transition: .3s
            width: ($spacing * 3)
            
        .product-item:hover &:after
            width: ($spacing * 5)



/* ------------------------------------
    Product Card
 ------------------------------------*/

$product-card-height: 500px
    
.product-card
    background: #fff
    box-shadow: 0 0px 10px rgba(#000, 0.5)
    display: none
    left: 0
    margin: 0 auto
    max-height: 90vh
    max-width: 900px
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    padding: ($spacing * 2)
    position: fixed
    right: 0
    top: calc(50vh - (90vh / 2))
    width: 90%
    z-index: $product-card-zindex

    @include mq($break-medium)
        overflow: auto
        top: calc(50vh - (#{$product-card-height} / 2))

    &__close
        display: none

        @include mq($break-medium)
            background: url(../images/close.svg) no-repeat center
            display: inline-block
            height: 16px
            position: absolute
            right: $spacing
            top: $spacing
            width: 16px
            transition: .3s
            cursor: pointer

            &:hover
                opacity: .8


// Product Structure
//.product
//    .product__preview
//        .preview
//
//        .thumbnails
//            .thumbnail
//
//    .product__details
//        .product__title
//        
//        .product__price
//            .price--crossed
//            .price--sale
//        
//        .product__info