/* ------------------------------------
    Buttons
 ------------------------------------*/

.btn
    @extend %input-defaults
    background: $color-mine-shaft
    color: #fff
    letter-spacing: 3px
    line-height: 1
    text:
        align: center
        decoration: none
        transform: uppercase
    width: 100%

    @include mq($break-medium)
        width: 30rem

    &:hover, &:focus
        background: none
        color: $color-mine-shaft
        outline: 0
        
    // Light
    &--light
        color: $color-mine-shaft
        background: #fff
        border-color: #fff
        
        &:hover, &:focus
            background: #fff
            border-color: #fff
            opacity: .8
    

    // Line
    &--line
        background: none
        color: $color-mine-shaft

        &:hover, &:focus
            background: $color-mine-shaft
            color: #fff

    // Accent filled
    &--accent
        background: $color-primary
        border-color: $color-primary

        &:hover, &:focus
            color: $color-primary

    // Accent line
    &--accent-line
        background: none
        border-color: $color-primary
        color: $color-primary
            
        &:hover, &:focus
            background: $color-primary
            color: #fff