.message
    padding: ($spacing / 2) $spacing
    border: 1px solid #000
    
    &--error
        color: #fff
        background: lighten($color-apple-blossom, 10)
        border-color: darken($color-apple-blossom, 10)