@charset "UTF-8";
/* ------------------------------------
    Reset v.0.1
 ------------------------------------*/
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

caption {
  font-weight: normal;
}

img {
  border: 0;
}

/* ------------------------------------
    Base
 ------------------------------------*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #3B3B3B;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.6em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

img, figure {
  height: auto;
  max-width: 100%;
}

img {
  vertical-align: top;
}

ul, ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------
    Typography
 ------------------------------------*/
p {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3B3B3B;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  font-size: 3.44rem;
}

h2 {
  font-size: 2.95rem;
}

h3 {
  font-size: 2.56rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 2rem;
}

/* ------------------------------------
    Grid
 ------------------------------------*/
.wrap {
  margin: 0 auto;
  max-width: 90%;
}

@media screen and (min-width: 868px) {
  .wrap {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.wrap:after {
  content: '';
  display: table;
  clear: both;
}

/* ------------------------------------
    Header
 ------------------------------------*/
main {
  padding-top: 14rem;
}

.img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

header {
  background: rgba(59, 59, 59, 0.97);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  height: 5rem;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  z-index: 4;
}

@media screen and (min-width: 868px) {
  header {
    height: 7rem;
  }
}

header a {
  color: #fff;
  text-decoration: none;
}

/* Logo */
#logo {
  color: #fff;
  transform: scale(0.8);
  line-height: 5rem;
}

@media screen and (min-width: 868px) {
  #logo {
    display: inline-block;
    float: left;
    line-height: 7rem;
    width: 100px;
    transform: scale(1);
  }
}

#hamburger-menu,
#cart-trigger {
  height: 100%;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 868px) {
  #hamburger-menu,
  #cart-trigger {
    position: static;
  }
}

#hamburger-menu a,
#cart-trigger a {
  height: 100%;
  width: 60px;
}

#hamburger-menu {
  left: 0;
}

@media screen and (min-width: 868px) {
  #hamburger-menu {
    display: none;
  }
}

#hamburger-menu a {
  background: #2e2e2e url("../images/hamburger-menu.svg") no-repeat center center;
}

#cart-trigger {
  right: 0;
}

@media screen and (min-width: 868px) {
  #cart-trigger {
    float: right;
    height: 7rem;
    display: inline-block;
  }
}

#cart-trigger a {
  background: #2e2e2e url("../images/cart.svg") no-repeat center center;
}

@media screen and (min-width: 868px) {
  #cart-trigger a {
    background-color: #2e2e2e;
    border-left: none;
    width: 100px;
  }
}

/* ------------------------------------
    Navigation
 ------------------------------------*/
#site-nav,
#cart {
  background: #3B3B3B;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
  padding-top: 50px;
  position: fixed;
  top: 0;
  width: 220px;
  z-index: 3;
}

@media screen and (min-width: 380px) {
  #site-nav,
  #cart {
    width: 300px;
  }
}

@media screen and (min-width: 868px) {
  #site-nav,
  #cart {
    width: 30%;
    padding-top: 80px;
  }
}

#site-nav {
  left: -100%;
  transition: left 0.3s;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 868px) {
  #site-nav {
    background: transparent;
    box-shadow: none;
    height: auto;
    padding-top: 0;
    position: static;
    float: left;
    top: 0;
    width: auto;
    line-height: 7rem;
    z-index: 4;
  }
}

#site-nav.speed-in {
  left: 0;
}

.no-js #site-nav {
  position: fixed;
}

@media screen and (min-width: 868px) {
  #site-nav ul li {
    display: inline-block;
    margin-left: 1em;
    /*&.current
                    background: $header-link
                    box-shadow: none
                    color: #FFF*/
  }
  .no-touch #site-nav ul li:hover {
    background: #435779;
    color: #FFF;
  }
}

#site-nav ul li a {
  border-bottom: 1px solid #7F7F7F;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 1em;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 868px) {
  #site-nav ul li a {
    border-bottom: none;
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
  }
  #site-nav ul li a:after {
    content: '';
    display: block;
    background: #B14646;
    height: 1px;
    width: 0;
    transition: .3s;
    margin: 0.75rem auto;
  }
  #site-nav ul li a:hover:after {
    width: 3rem;
  }
}

#site-nav ul .current {
  box-shadow: inset 4px 0 #B14646;
}

@media screen and (min-width: 868px) {
  #site-nav ul .current {
    box-shadow: none;
  }
}

/* ------------------------------------
    Slide-Out Cart
 ------------------------------------*/
#cart {
  color: #fff;
  right: -100%;
  transition: right 0.3s;
}

#cart.speed-in {
  right: 0;
}

#cart h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
  padding: 0em 2em;
}

#cart .cart-items {
  padding: 0;
}

#cart .cart-items li {
  border-top: 1px solid #7F7F7F;
  padding: 1em;
  position: relative;
}

@media screen and (min-width: 868px) {
  #cart .cart-items li {
    padding: 1em 2em;
  }
}

#cart .cart-items li:last-child {
  border-bottom: 1px solid #7F7F7F;
}

#cart .qty,
#cart .price {
  color: #a5aebc;
}

#cart .price {
  margin-top: .4em;
}

#cart .item-remove {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background: url("../images/remove-item.svg") no-repeat center center;
  border-radius: 50%;
  height: 32px;
  position: absolute;
  right: 1em;
  width: 32px;
}

@media screen and (min-width: 868px) {
  #cart .item-remove {
    right: 2em;
  }
}

.no-touch #cart .item-remove:hover {
  background-color: #D8D8D8;
}

#cart .cart-total {
  padding-bottom: 1em;
  padding-top: 1em;
  padding: 2em 1em;
}

@media screen and (min-width: 868px) {
  #cart .cart-total {
    padding: 0 2em;
  }
}

#cart .cart-total span {
  float: right;
}

#cart .cart-total:after {
  content: '';
  display: table;
  clear: both;
}

#cart .checkout-btn {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}

#cart .go-to-cart a {
  text-decoration: underline;
}

/* ------------------------------------
    Footer
 ------------------------------------*/
.site-footer {
  background: #2F2F2F;
  color: #fff;
  padding: 3rem;
  text-align: center;
  font-size: 1.8rem;
}

@media screen and (min-width: 868px) {
  .site-footer {
    text-align: left;
    font-size: 1.6rem;
    padding: 6rem;
  }
}

.site-footer h4 {
  color: #fff;
}

.site-footer a {
  color: #e0e0e0;
  text-decoration: none;
}

.site-footer a:hover {
  color: #fff;
}

.site-footer__widget {
  margin-bottom: 3rem;
}

@media screen and (min-width: 868px) {
  .site-footer__widget {
    display: inline-block;
    float: left;
    margin-left: 3.2258064516%;
  }
}

.site-footer__widget h4 {
  font-size: 1.8rem;
  margin: 0 0 1.5rem;
}

@media screen and (min-width: 868px) {
  .site-footer__links li {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.site-info {
  font-size: 1.4rem;
}

@media screen and (min-width: 868px) {
  .site-info {
    float: left;
    font-size: 1.2rem;
    width: 31.1827956989%;
    float: left;
    margin-right: 3.2258064516%;
  }
}

.site-info .site-note {
  margin-top: 1.5rem;
}

/* ------------------------------------
    Sections
 ------------------------------------*/
.section__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/** Slider **/
#main-slider,
.slide-container,
.slide {
  height: 600px;
  overflow: hidden;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
}

.slide-content {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

@media screen and (min-width: 868px) {
  .slide-content .slide-meta {
    margin: 0 auto;
    max-width: 700px;
  }
}

.slide-content .title {
  color: #FFF;
  font-size: 7rem;
}

@media screen and (max-width: 868px) {
  .slide-content .title {
    text-shadow: 1px 1px 5px #000;
  }
}

.slide-content .summary {
  color: #FFF;
  margin-bottom: 3rem;
}

@media screen and (max-width: 868px) {
  .slide-content .summary {
    text-shadow: 1px 1px 5px #000;
  }
}

.slide-content .btn {
  margin: 15px;
}

/** Slider Navigation **/
ul.slick-dots {
  bottom: 10px;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

ul.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 20px;
}

ul.slick-dots li.slick-active button:before {
  opacity: 1;
}

ul.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 5px;
  width: 20px;
}

ul.slick-dots li button:hover, ul.slick-dots li button:focus {
  outline: none;
}

ul.slick-dots li button:hover:before, ul.slick-dots li button:focus:before {
  opacity: 1;
}

ul.slick-dots li button:before {
  color: white;
  content: '•';
  font-size: 35px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: .5;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

/** Slick Navigation Arrows **/
.slick-prev,
.slick-next {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: FontAwesome;
  font-size: 60px;
  height: 60px;
  line-height: 1;
  opacity: 1;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: opacity .25s ease-in-out;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  opacity: .5;
}

.slick-next {
  right: 0;
  content: '\f105';
}

.slick-prev {
  left: 0;
  content: '\f104';
}

/** Slick Slider default styles **/
.slick-slider {
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
}

.slick-track:before {
  content: '';
  display: table;
}

.slick-track:after {
  clear: both;
  content: '';
  display: table;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

/* ------------------------------------
    Form Inputs
 ------------------------------------*/
input[type='text'],
input[type='password'],
textarea, .btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  height: 5.3rem;
  margin: 1.5rem 0;
  width: 100%;
  transition: .3s;
  padding: 1.85rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  position: relative;
  border: 1px solid #3B3B3B;
}

@media screen and (min-width: 380px) {
  input[type='text'],
  input[type='password'],
  textarea, .btn {
    width: 30rem;
  }
}

input[type='text'],
input[type='password'],
textarea {
  text-transform: none;
}

textarea {
  min-height: 30rem;
  display: block;
}

input:disabled,
textarea:disabled {
  background-color: #D8D8D8;
  border-color: #7F7F7F;
}

/* ------------------------------------
    Buttons
 ------------------------------------*/
.btn {
  background: #3B3B3B;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 868px) {
  .btn {
    width: 30rem;
  }
}

.btn:hover, .btn:focus {
  background: none;
  color: #3B3B3B;
  outline: 0;
}

.btn--light {
  color: #3B3B3B;
  background: #fff;
  border-color: #fff;
}

.btn--light:hover, .btn--light:focus {
  background: #fff;
  border-color: #fff;
  opacity: .8;
}

.btn--line {
  background: none;
  color: #3B3B3B;
}

.btn--line:hover, .btn--line:focus {
  background: #3B3B3B;
  color: #fff;
}

.btn--accent {
  background: #B14646;
  border-color: #B14646;
}

.btn--accent:hover, .btn--accent:focus {
  color: #B14646;
}

.btn--accent-line {
  background: none;
  border-color: #B14646;
  color: #B14646;
}

.btn--accent-line:hover, .btn--accent-line:focus {
  background: #B14646;
  color: #fff;
}

/* ------------------------------------
    Select
 ------------------------------------*/
.select-hidden {
  display: none;
  padding-right: 10px;
  visibility: hidden;
}

.select {
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  height: 5.3rem;
  margin: 1.5rem 0;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

@media screen and (min-width: 868px) {
  .select {
    width: 30rem;
  }
}

.select-styled {
  background: #fff;
  border: 1px solid #3B3B3B;
  bottom: 0;
  left: 0;
  line-height: 5.3rem;
  padding: 0 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.select-styled:after {
  border: .8rem solid transparent;
  border-color: #3B3B3B transparent transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 1.5rem;
  top: 2.25rem;
  width: 0;
}

.select-styled:active, .select-styled.active {
  border-bottom: 0;
}

.select-styled:active:after, .select-styled.active:after {
  border-color: transparent transparent #3B3B3B transparent;
  top: 1.45rem;
}

.select-options {
  background: #fff;
  border: 1px solid #3B3B3B;
  border-top: 0;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 999;
}

.select-options li {
  border-top: 1px solid #D8D8D8;
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  transition: all 0.3s ease-in;
}

.select-options li:hover {
  color: #B14646;
}

.select-options li[rel="hide"] {
  display: none;
}

/* ------------------------------------
     Product
 ------------------------------------*/
.product__preview {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 868px) {
  .product__preview {
    width: 52.688172043%;
    float: left;
    margin-right: 3.2258064516%;
  }
}

.product__preview .image {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 868px) {
  .product__preview .image {
    width: 78.4946236559%;
    float: right;
    margin-right: 0;
  }
}

@media screen and (min-width: 868px) {
  .product__preview .thumbnails {
    width: 18.2795698925%;
    float: left;
    margin-right: 3.2258064516%;
  }
}

.product__preview .thumbnail {
  height: 125px;
  background: #D8D8D8;
}

@media screen and (min-width: 868px) {
  .product__preview .thumbnail {
    height: 125px;
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 868px) {
  .product__details {
    width: 39.7849462366%;
    float: right;
    margin-right: 0;
  }
}

.product__price {
  font-size: 3.6rem;
}

.product__options {
  margin: 3rem 0;
}

.product__options .btn {
  width: 100%;
}

.product__select .select {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 868px) {
  .product__select-size {
    width: 65.5913978495%;
    float: left;
    margin-right: 3.2258064516%;
  }
  .product__select-qty {
    width: 31.1827956989%;
    float: right;
    margin-right: 0;
  }
}

.product__info {
  border-top: 1px solid #D8D8D8;
  padding: 4.5rem 0;
}

.product__info h3 {
  font-size: 1.8rem;
  margin: 0;
}

/* ------------------------------------
    Product Items
 ------------------------------------*/
.product-item {
  margin-bottom: 3.2258064516%;
  text-align: center;
}

@media screen and (min-width: 380px) and (max-width: 868px) {
  .product-item {
    width: 48.3870967742%;
    float: left;
    margin-right: 3.2258064516%;
  }
  .product-item:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}

@media screen and (min-width: 868px) {
  .product-item {
    width: 31.1827956989%;
    float: left;
    margin-right: 3.2258064516%;
  }
  .product-item:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}

.product-item__preview {
  overflow: hidden;
  position: relative;
}

.product-item__preview img {
  transition: .3s;
}

.product-item__preview img:hover {
  opacity: .8;
}

.product-item .quick-view {
  background: #fff;
  bottom: -100%;
  color: #3B3B3B;
  display: block;
  padding: 1.5rem;
  position: absolute;
  transition: .3s;
  width: 100%;
}

.product-item:hover .quick-view {
  bottom: 0;
}

.product-item__desc {
  margin-top: 1.5rem;
}

.product-item__title {
  font-size: 1.8rem;
  margin: 0 0 0.75rem;
}

.product-item__title a {
  color: #3B3B3B;
  text-decoration: none;
}

.product-item__title:after {
  background: #3B3B3B;
  content: '';
  display: block;
  height: 1px;
  margin: 3px auto;
  transition: .3s;
  width: 4.5rem;
}

.product-item:hover .product-item__title:after {
  width: 7.5rem;
}

/* ------------------------------------
    Product Card
 ------------------------------------*/
.product-card {
  background: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
  left: 0;
  margin: 0 auto;
  max-height: 90vh;
  max-width: 900px;
  overflow: scroll;
  padding: 3rem;
  position: fixed;
  right: 0;
  top: calc(50vh - (90vh / 2));
  width: 90%;
  z-index: 5;
}

@media screen and (min-width: 868px) {
  .product-card {
    top: calc(50vh - (500px / 2));
  }
}

.product-card__close {
  display: none;
}

@media screen and (min-width: 868px) {
  .product-card__close {
    background: url(../images/close.svg) no-repeat center center;
    display: inline-block;
    height: 15px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 15px;
    transition: .3s;
    cursor: pointer;
  }
  .product-card__close:hover {
    opacity: .8;
  }
}

/* ------------------------------------
    Breadcrumbs
 ------------------------------------*/
.breadcrumb {
  margin-bottom: 1.5rem;
}

.breadcrumb li {
  display: inline-block;
  font-style: italic;
  list-style: none;
}

.breadcrumb li a {
  color: #7F7F7F;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #3B3B3B;
}

.breadcrumb li:after {
  color: #7F7F7F;
  content: '>';
  margin: 0 1rem;
}

.breadcrumb li:last-of-type:after {
  content: '';
}

/* ------------------------------------
    Homepage
 ------------------------------------*/
/* Slider */
.featured-slider {
  text-shadow: 0 0 6px #000;
}

.featured-slider h1 {
  color: #fff;
  font-size: 5rem;
}

.featured-slider .btn {
  max-width: 75%;
}

.heart {
  display: inline-block;
  height: 1.2rem;
  margin: 0 2px;
  position: relative;
  width: 15px;
}

.heart:before {
  color: #DC0D0D;
  content: "\f004";
  font-family: "FontAwesome";
  left: 0;
  position: absolute;
  top: -2px;
}

.logo {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 3.3rem;
  line-height: 1;
}

.price--crossed {
  color: #7F7F7F;
  text-decoration: line-through;
}

.price--sale {
  color: #B14646;
}
